mixin printingCard
  #printersDiv
    .form-group
      label(for="printersSelect") Printer: 
      select.form-control#printersSelect
    #printDiv
      button.btn.btn-large#printButton.bg-success.w-100 Print