extends layout 
block chead
  script(src="javascripts/2text.js")

block content
  h1= title
  p Welcome to #{title}
  .values#labelFields
    .row
      .col#assetField 
        label(for="asset") Asset Tag
        input#asset(type="text",name="asset")
      //-.col 
        .row.printControls
        .col
          #printersDiv
            label(for="printersSelect") Printer: 
            select#printersSelect
        .col
          #printDiv
            button#printButton Print
    #modelField 
      //-.row
        label(for="models") Defaults Models
        select(name="models")
          option Custom
          option Precision 3490
          option Precision 3590
      .row
        label(for="model") Device Model
        input#model(type="select",name="model")
    .row#hardwareField 
      //-.row
        p Preeselect a default configuration
        label(for="defaults") Standard Hardware Configurations
        select(name="defaults")
          option
          option(value="i5/8GB/256GB") i5 / 8GB / 256GB
          option(value="i7/16GB/512GB") i7 / 16GB / 512GB
          option(vallue="Ultra7/16GB/256GB") Ultra 7 / 16GB / 256GB

      .row
        p can this be a drop/down preselect with custom and free text option?
        .col 
          label(for="cpu") Processor
          input#cpu(type="text" name="cpu")
        .col   
          label(for="memory") Memory
          input#memory(type="text" name="memory")
        .col
          label(for="storage") Storage
          input#storage(type="text", name="storage")


    #returnField
      p Returned Accessories
      ul
        li
          label(for="usbc") USB-C Charger
          input#usbc(type="checkbox" name="usbc")
          //- if magsafe picked, USB-C shoulld be unsellected?
        li
          label(for="barrel") Barrel/Magsafe Charger
          input#barrel(type="checkbox" name="oldCharger")
        li
          label(for="dongle") Dongle / Hub / Dock
          input#dongle(type="checkbox" name="dongle")
        li
          label(for="custom") Additional Item(s)
          input#custom(type="text" name="custom")

  .content
    .row
      #labelImageDiv
        img#labelImage(src="", alt="label preview")

    .row.printControls
      .col
        #printersDiv
          label(for="printersSelect") Printer: 
          select#printersSelect
      .col
        #printDiv
          button#printButton Print