extends layout
include mixins/card
include mixins/printingCard
include mixins/deviceInfoCard

block content
  script(type="module" src="javascripts/voucher.js")
  h1.text-center= title

  .row
    .col
      +card('Device Information').w-100
        +deviceInfoCard
      +card('Voucher Information').w-100
        .row
          .col
            .form-group
              label(for="voucherno") Voucher / Ticket Number
              input#voucherno.form-control(type="text",name="voucherno")
            .form-group
              label(for="department") Department
              //- This could be swapped to a dropdown and CSV/TXT datafile
              input#departmentole.form-control(type="text",name="department")
            .form-group
              label(for="role") Staff/Faculty Role
              input#role.form-control(type="text",name="role")
          .col.d-flex.align-items-center.justify-content-center
            img#labelImage(src="", alt="label preview").border
      
  .row
    .col
      +card('Print Controls', 'info')
        +printingCard